default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: blog_6_development

test:
  <<: *default
  database: blog_6_test

production:
  <<: *default
  database: blog_6_production
  username: blog_6
  password: <%= ENV['BLOG_6_DATABASE_PASSWORD'] %>
