<div class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta"><%= post_date(@post.updated_at) %> by <a href="#">Mark</a></p>

  <p><%= @post.content %></p>
</div><!-- /.blog-post -->
